@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-md;
  }

  ::-webkit-scrollbar-button {
    width: 24px;
    height: 15px;
  }

  ::-webkit-scrollbar-button:decrement {
    background: url('../assets/scrollUp.svg') no-repeat center;
    background-size: 24px;
  }

  ::-webkit-scrollbar-button:increment {
    background: url('../assets/scrollDown.svg') no-repeat center;
    background-size: 24px;
  }
}