.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0;
  z-index: 4;
  background-color: var(--primary2);
}

.header__logo {
  height: 70px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;

  img {
    height: 100%;
  }
}

.header__nav {
  width: fit-content;
  height: 100%;
}

.header__navBtn {
  display: none;
}

.header__ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.header__item {
  cursor: pointer;
  list-style: none;
  transition: all .3s ease;
  font-weight: 700;
  font-size: 17px;
  color: var(--background);
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;

  * {
    text-decoration: none;
    transition: all .3s ease;
    color: var(--background);
  }

  i {
    margin-right: 2px;
  }
}

.header__item:hover,
.header__item:hover * {
  color: var(--secondary);
}

.header__item--last {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-radius: 24px;
  border: 1.5px solid var(--secondary2);
  background: var(--secondary2);

  a {
    color: var(--background);
  }
}

.header__item--last:hover {
  background-color: transparent;

  a {
    color: var(--secondary2);
  }
}

.header__item:nth-of-type(1) i {
  margin-right: 5px;
}

.header__item:nth-of-type(1):hover {
  color: var(--background);

  * {
    color: var(--background);
  }

  .header__subItem {
    max-height: 170px;
    padding: 5px;
  }

  .header__subItem li:hover a {
    color: var(--secondary) !important;
  }
}

.header__subItem {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: fit-content;
  max-height: 0;
  overflow: hidden;
  background: var(--primary2);
  transition: max-height .3s ease-out;

  li {
    list-style: none;
    height: 40px;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
}

.header__btn {
  display: none;
}



.section_inicio {
  height: calc(100vh - 90px);
  background: #ececec;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../img/formacionH.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section_inicio h1 {
  font-size: 50px;
  color: var(--primary3);
  font-weight: 700;
  text-align: center;
  text-wrap: balance;
  position: relative;
  z-index: 2;
}

.section_inicio h2 {
  font-size: 30px;
  color: var(--secondary3);
  font-weight: 500;
  text-align: center;
  text-wrap: balance;
  position: relative;
  z-index: 2;
}

.section_inicio__sombra {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 120%;
  width: 100%;
  background: linear-gradient(to top, #000, transparent);
  z-index: 1;
}



section {
  padding-top: 90px !important;
  min-height: fit-content !important;
}

.section__titulo {
  text-align: center;
  color: var(--secondary);
  position: relative;
  font-size: 25px;
  margin-bottom: 30px;
}

.section__titulo::after {
  content: '';
  width: 100px;
  height: 10px;
  background: var(--primary);
  border-radius: 10px;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.section_verMas {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: var(--secondary2);
  transition: all .3s ease;
}

.section_verMas:hover {
  color: var(--secondary);
}



.section_info {
  width: 80%;
  margin: auto;
  height: min-content;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.section_info__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  align-items: start;
}

.section_info__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_info__div:nth-child(2) {
  display: flex;
  align-items: stretch;
}

.section_info__div p {
  font-size: 20px;
  font-weight: 500;
  color: var(--text);
  margin-bottom: 20px;
  text-align: justify;
  text-wrap: balance;

  span {
    display: block;
    margin-bottom: 20px;
  }
}

.section_info__div img {
  width: 100%;
  height: auto;
  max-height: none;
  object-fit: cover;
  align-self: stretch;
  border-radius: 10px;
}



.section_actividades {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

.section_actividades__container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 5%;
}

.section_actividades__div {
  aspect-ratio: 80 / 100;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 5% 5%;
  gap: 20px;
  transition: all .3s ease .2s;
}

.section_actividades__div h3 {
  text-wrap: balance;
  text-align: center;
}

.section_actividades__div:hover {
  scale: 1.03;
}

.section_actividades__div:nth-of-type(1) {
  background: #64b4ff;
}

.section_actividades__div:nth-of-type(2) {
  background: #E57373;
}

.section_actividades__div:nth-of-type(3) {
  background: #ff87e1;
}


.section_redes__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 0;
}

.section_redes__div {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;

  * {
    transition: all .3s ease;
  }
}

.section_redes__div:hover * {
  color: var(--secondary);
}

.section_redes p {
  font-size: 20px;
  text-align: center;
  text-wrap: balance;
}



.footer {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5% 5%;
  background: var(--primary2);
  color: var(--background);

  * {
    text-decoration: none;
    color: var(--background);
  }
}

.footerColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}

.footerColumn3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 20px;
  overflow: hidden;
}

.footer img {
  width: 100%;
  height: 140px;
  object-fit: contain;
}

.footer i {
  font-size: 20px;
  margin-right: 10px;
  transition: all .3s ease;
}

.footerLink,
.footer a {
  width: 100%;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  display: grid;
  grid-template-columns: 40px auto;
  transition: all .3s ease;
}

.footerLink:hover,
.footer a:hover {
  color: var(--secondary);

  i {
    color: var(--secondary);
  }

  ;
}

.footer--2 {
  max-height: 50px;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 1270px) {

  .header__logo img {
    height: 80%;
  }

  .header__item {
    font-size: 15px;
  }
}

@media screen and (max-width: 1112px) {
  .header__item {
    font-size: 12px;
  }

  .header__logo img {
    height: 70%;
  }
}

@media screen and (max-width: 970px) {

  .header__logo,
  .header__logo img {
    height: 100%;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    background: #1e6620;
    height: 100vh;
    display: block;
    transition: left .3s ease-out;
    padding-top: 70px;
    padding-left: 20px;
  }

  .header__navBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background: #1e6620;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 50px;
  }

  .header__navBtn i {
    transition: color .3s ease;
  }

  .header__navBtn:hover i {
    color: var(--secondary2);
  }

  .header__ul {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
  }

  .header__item {
    width: 100%;
    justify-content: start;
    height: 40px;
    padding: 10px 0;
    font-size: 25px;
    font-weight: 600;
  }

  .header__item:nth-of-type(1) {
    padding-left: 40px;
    overflow: visible;
    height: fit-content;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    .header__navDiv {
      display: flex;
      justify-content: start;
      align-items: center;
    }

    i:nth-of-type(1) {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .header__subItem {
      position: static;
      display: block;
      background: none;
    }
  }

  .heaeder__link {
    padding-left: 40px;

    i {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  .header__item--last {
    display: none;
  }

  .header__nav.visible {
    left: 0;
  }

  .header__btn {
    display: flex;
    border: none;
    background: none;
    font-size: 40px;
    color: var(--background);
    cursor: pointer;
  }

  .header__btn:hover {
    color: var(--secondary2);
  }

  .section_inicio {
    background-image: url('../img/formacionV.jpeg');
  }

  .section_inicio h1 {
    font-size: 40px;
  }

  .section_inicio h2 {
    font-size: 20px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 5% 10%;
  }

  .footerColumn3 {
    position: relative;
    left: 50%;
  }

  .footer--2 {
    display: flex;
  }
}

@media screen and (max-width: 700px) {

  .section_info__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: fit-content;
  }

  .section_info__div:nth-of-type(2) img {
    max-height: 50vh;
  }

  .section_actividades__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 0 15%;
  }

  .section_redes__container {
    flex-direction: column;
    gap: 20px;
  }
}


@media screen and (max-width: 500px) {
  .headerFalse {
    height: 120px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0;
  }

  .headerFalse li a {
    font-size: 15px;
    font-weight: 500;
    width: fit-content;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
  }

  .header20px {
    height: 50px;
  }

  .header__logo {
    height: 60%;
  }

  .header__nav {
    width: 100%;
    left: -100%;
  }

  .section_inicio {
    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 15px;
    }
  }

  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 5% 5%;
  }

  .footerColumn3 {
    left: 0;
  }
}